# Taken from http://stackoverflow.com/questions/170961/whats-the-best-crlf-carriage-return-line-feed-handling-strategy-with-git
# Auto detect text files and perform LF normalization
*        text=auto

*.html   text diff=html
*.css    text
*.js     text

*.csproj text merge=union
*.sln    text merge=union eol=crlf

# absolute paths are ok, as are globs
/**/postinst* text eol=lf

# paths that don't start with / are treated relative to the .gitattributes folder
relative/path/*.txt text eol=lf

