#top {
  position: relative;
  display: inline-flex;
  width:100%;
  /*padding-top: 10px;
  padding-bottom: 10px;*/
  padding-left: 0px; /*  using margins doesnt work for edit dance button */
  padding-right: 10px;
  background-color:rgb(220,220,220);
}
#newDance {
  display: inline-flex;
  position: absolute;
  right: 0px;
  text-align: center;
  vertical-align: middle;
}

#newDanceText {
  padding-top: 4px;
  margin: 0px;
}

#newDance img {
  margin: 2px 5px 2px 2px;
}
#page {
  margin: 15px;
  padding: 10px;
  width: 75%;
  position: absolute;
  top: 10%;
  left: 12%;
}
#wrapper {
  border-width: 2px;
  border-color: grey;
  border-style: solid;
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
  align-items: center;
  width: 50%;
  position: absolute;
  top: 15%;
  left: 25%;
}
#hamburger {
  background: none;
  position: relative;
  height:auto;
  top: 0;
  left: 0;
  line-height: 45px;
  color: #999;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  border:0;
  padding-left:10px;
  padding-bottom:5px;
}
#hamburgerimg{
    padding-top:10px;
    padding-bottom:10px;
}
#logo {
    position: relative;
    padding-top: 5px;
    top: 0;
    left: 10px;
}
.info {
  width: 25px;
  height: 25px;
}
h1 {
  margin-bottom: 20px;
}
.textbox {
  text-align: center;
  margin: 10px;
}
#search {
  display: inline-flex;
  overflow: hidden;
  height: 50px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top:5px;
}
div#searchWidget {
  display: inline-flex;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
}
input#codeSearch {
  padding-left: 10px;
  width: 100%;
  font-size: 1.25em;
}
.btnSearch {
  cursor: pointer;
  display: flex;
  padding-right: 15px;
  padding-left: 5px;
  padding-bottom: 10px;
}
#searchWidget button {
  background: rgba(75, 205, 100, 0.5)
}
#upload {
  align-self: center;
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  border-radius: 5px;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
#file {
  margin-right: 5px;
  height: 30px;
  padding: 3px;
  vertical-align: middle;
}
#buttons {
  margin: 10px;
  width: 225px;
  margin-right: 0px;
}
#danceSubmit {
  background: #96a2ff;
}
.thumbnail {
  width: 225px;
  height: 150px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
.entry {
  display: inline-flex;
}

.videoInfo {
  margin-left: 15px;
}

.menu{z-index:1000000; font-size:20px !important; width:20%; background:#f1f1f1;  position:absolute; text-align:left; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 15px; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:lightgray; padding:15px 0 15px 15px; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}
.menuSymbol{
  vertical-align: text-bottom;
  padding-right:10px;
  height:25px;
}
