/*Hamburger menu*/
#hamburger {
  background:none;
  position:relative;
  top: 0;
  left: 0;
  line-height:45px;
  padding:5px 15px 0px 5px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}