img {
	opacity: 1;
	display: inline;
}

#title h1 {
	display: inline;
	color: #4785e8;
	font-size: 75px;

	position: relative;
	top: 30px;
	left: 0px;
}

#top {
    position:relative;
}
#title{
	text-align: center;
	vertical-align: middle;
	
	position: absolute;
	top: 150px;
	left: 525px;
}

#search {
	text-align: center;
	vertical-align: middle;

	position: absolute;
	top: 330px;
	left: 225px;

	width: 100%;
}

label {
	position: relative;
	top: 7px;
	left: 0px;
}

.body {
	margin: 15px;
}

#newDance {
	display: inline-flex;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	vertical-align: middle;
}

#newDanceText {
	padding-top: 4px;
	margin: 0px;
}

#newDance img {
	margin: 2px 5px 2px 2px;
}
div#searchWidget {
    display: inline-flex;
    vertical-align: middle;
    flex-grow: 1; 
}

input#codeSearch {
    margin-left: 10px;
    width: 60%;
    font-size: 1.5em;
}


#searchWidget button {
    background: rgba(75,205,100,0.5)
}

#hamburger {
  background:none;
  position:absolute;
  top: 10;
  left: 10;
  line-height:45px;
  padding:5px 15px 0px 5px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu {
	z-index:1000000; 
	font-weight:bold; 
	width:13%; 
	background:#f1f1f1;  
	position:absolute; 
	text-align:left; 
	font-size:14px;

	position: absolute;
	top: 40px;
	left: 0px;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none; 
	list-style-image: none;
}

.menu li {
	display: block;   
	padding: 7px 3px 5px 3px; 
	border-bottom:#dddddd 1px solid;
}

.menu li:hover{
	display: block;    
	background: #9fc2f9; 
	padding: 7px 3px 5px 3px; 
	border-bottom:#dddddd 1px solid;
}

.menu ul li img {
	margin: 5px;
}
.menu ul li a { 
	text-decoration:none;  
	margin: 0px; 
	color:#666;
}

.menu ul li a:hover {  
	color: #666; 
	margin: 0px;
	text-decoration:none;
}

.menu a{
	text-decoration:none; 
	color:#666;
}

.menu a:hover{ 
	text-decoration:none; 
	color:#666;
}
