img {
	opacity: 1;
	display: inline;
}

#title h1 {
	display: inline;
	color: #4785e8;
	font-size: 75px;

	position: relative;
	top: 30px;
	left: 0px;
}

.btn h3 {
	font-size: 18px;
}

#title{
	text-align: center;
	vertical-align: middle;
	
	position: absolute;
	top: 150px;
	left: 525px;
}

#search {
	text-align: center;
	vertical-align: middle;

	position: absolute;
	top: 330px;
	left: 225px;

	width: 100%;
}

label {
	position: relative;
	top: 7px;
	left: 0px;
}

.body {
	margin: 15px;
}

#newDance {
	display: inline-flex;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	vertical-align: middle;
	padding: 6px;
}

#newDance h3 {
	padding: 0px;
	margin: 0px;
}

#newDance img {
	margin: 2px 5px 2px 2px;
}
div#searchWidget {
    display: inline-flex;
    vertical-align: middle;
    flex-grow: 1; 
}

input#codeSearch {
    margin-left: 10px;
    width: 60%;
    font-size: 1.5em;
}


#searchWidget button {
    background: rgba(75,205,100,0.5)
}



