.padding {
	width: 120px;
	background: #FFF;
	display: inline-flex;
}


#search {
  display: flex;
  overflow: hidden;
}

div#searchWidget {
    display: inline-flex;
	flex-grow: 1; 
}

input#codeSearch {
    margin-left: 10px;
    width:100%;
    font-size: 1.5em;
}


#searchWidget button {
	background: rgba(75,205,100,0.5)
}

#video{
	border-style: solid;
	height: 60%;
	width: 90%;
	margin:auto;
	margin-top: 2%;
}
