body {
    margin: 10px;
}

.padding {
    width: 20%
    background: #FFF;
    display: inline-flex;
}

.tool-icon {
    height: 42;
    width: 50 !important;
    //margin: 0 auto;
    position:relative;
    display:inline-block;
    float:left;
    margin-right:2 !important;
}

.btn-primary {
    margin-right:0;
    margin-left:0;
    border-radius:0;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: lightgray;
		height: 42;
    //background-color: rgba(100,210,125,0);
    //border-color: rgba(100,210,125,0);
}

.btn-primary:hover{
    background-color:lightgray;
    outline: none;
    border-color: white;

}



.btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-position: center;
    background-repeat: no-repeat;
    background-color:gray;
    border-color: white;
    //background-size: contain;
    //background-color: #0F0;
    //border-color: rgba(100,255,125,0);
}

#toolbar {
    width: 75%;
    display: flex;
    margin: 0 auto;
    position:fixed;
}
#addComment {
	top: 246px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
#search {
  display: flex;
  overflow: hidden;
  height: 8%;
  max-height: 28px;
  align-self:center;
  width: 75%;
  max-width: 640px;
  max-height: 480px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

div#searchWidget {
    display: inline-flex;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
}

input#codeSearch {
    width: 100%;
    font-size: 1.25em;

}

#searchWidget button {
    background: rgba(75,205,100,0.5)
}

#seekbar {
    display: flex;
    width: 75%;
    max-width: 640px;
    border: 1px solid black;
    margin: 0 auto;
}

#volumeBar {
    display: flex;
    width: 75%;
    max-width: 100px;
    border: 1px solid black;
    margin: 0 auto;
}

#toolbar {
	display: flex;
	max-width:640px;
	width:75%;
    position:relative;
    background-color:lightgray;
    height:42;
}
#indicator {
    background: #FF0000;
    height: 33px;
    width: 6px;
    align-self: flex-end;
}

#volumeIndicator {
    background: #FF0000;
    height: 33px;
    width: 6px;
    align-self: flex-end;
}

#video{
    display: flex;
    border-style: solid;
    height: 75%;
    width: 75%;
    max-width: 640px;
    max-height: 480px;
    align-self: center;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
	position:relative;
}

#choreoTools{
	position:absolute;
	bottom:0;
	right:0;
}

#top{
	position:relative;
}
#editDance{
	position:absolute;
	right:0;
}
#watchDance{
	position:absolute;
	right:0;
}

video{
	height: 75%;
	width: 75%;
	max-width: 640px;
	max-height: 480px;
}


#speed{
    width:60;
    margin-left:5;
    margin-top:2;
    margin-right:0;
}
#speedLabel{
    margin-left:0;
}
