/*Seekbar*/
#seekbar {
    display: flex;
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
}

.handlebar {
  height: 0px;
  width: 0px;
  align-self: flex-end;
  z-index: 6;
  position: relative;
}

#sections {
  width: 100%;
  display: inline-flex;
}

#sectionStart {
  position: relative;
}

#sectionEnd {
  position: relative;
}

#handlebarright{
	width:70px;
	height:70px;
	margin-left: -35;
	margin-top:-55;
}

#handlebarleft{
	width: 70px;
	height: 70px;
	margin-left: -35;
	margin-top:-55;
}

#indicatorBar{
	width:70 !important;
	height:70 !important;
	margin-left: -35;
	margin-top:-22;
}

/*Red Indicator*/
#indicator {
  position: relative;
  background: #FF0000;
  height: 33px;
  width: 0px;
  align-self: flex-end;
  z-index: 5;
  left: 0px;
}

/*Tool buttons general formatting*/
.tool-icon {
    height: 42;
    width: 60 !important;
    position:relative;
    display:inline-block;
    float:left;
	border-right-color:gray !important;
}

.btn-primary {
    margin-right:0;
    margin-left:0;
    border-radius:0;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: lightgray;
	height: 42;
	border-color:lightgray;
	border-width:0;

}

.btn-primary:hover{
    background-color:lightgray;
    outline: none;
    border-color: lightgray;
	cursor:pointer;

}

.btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-position: center;
    background-repeat: no-repeat;
    background-color:lightgray;
    border-color: lightgray;
}

#section1 {
  width: 15%;
  position: relative;;
  top: 0px;
  left: 50px;
  background-color: #b067c6;
}

#section2 {
  width: 25%;
  position: relative;
  top: 0px;
  left: 100px;
  background-color: #b1d83c;
}

#section3 {
  width: 5%;
  position: relative;
  top: 0px;
  left: 200px;
  background-color: #dba55e;
}

/*Toolbar*/
#toolbar {
    width: 100%;
    display: flex;
    margin: 0 auto;
    position:relative;
    background-color:lightgray;
    height:42;}

/*Speed controls*/
/*Speed textbox*/
#speed{
    width:60;
    margin-left:5;
    margin-top:2;
    margin-right:0;
}

/*Speed text label*/
#speedLabel{
    margin-left:0;
}

/*Increase speed button*/
#right{
	margin-right:20;
	border-right-width:2;
}

/*Decrease speed button*/
#left{
	border-left-width:2;
	border-left-color:gray;
}

/*Countoff*/
#countoffBar {
	position: relative;
	margin-top: 21px;
	margin-left:-110;
}

#countoffLabel{
	margin-left:10;
}

/*Metronome button*/
#metronome{
	margin-left:20;
	border-left-width:2;
	border-left-color:gray;
	border-right-width:2;
}

/*Fullscreen button*/
#fullscreen{
	border-left-width:2;
	border-left-color:gray;
	
}
